//colors
$primary-color: rgb(8, 13, 15);
$secondary-color: rgb(255, 255, 0);
$tertiary-color: rgb(240, 240, 240);
$blue-color: rgb(3, 148, 255);
$gray-color: rgb(152, 152, 152);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $primary-color;
    color: $tertiary-color;
    font-size:  1rem;
    font-family: 'Open Sans', sans-serif;
    padding: 2rem 1rem;
    
}

